absl-py==2.3.1
attrs==25.3.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.0
cvzone==1.6.1
dlib==19.24.2
cycler==0.12.1
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.58.5
fsspec==2025.5.1
humanfriendly==10.0
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
jax==0.4.30
jaxlib==0.4.30
Jinja2==3.1.6
kiwisolver==1.4.7
lap==0.5.12
MarkupSafe==3.0.2
matplotlib==3.9.4
mediapipe==0.10.21
ml_dtypes==0.5.1
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.4
onnx==1.18.0
onnxruntime==1.19.2
onnxslim==0.1.59
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opt_einsum==3.4.0
packaging==25.0
pandas==2.3.1
pillow==11.3.0
protobuf==4.25.8
psutil==7.0.0
py-cpuinfo==9.0.0
pycparser==2.22
pyparsing==3.2.3
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
pytomlpp==1.0.13
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
scipy==1.13.1
screeninfo==0.8.1
sentencepiece==0.2.0
six==1.17.0
sounddevice==0.5.2
sympy==1.14.0
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
ultralytics==8.3.166
ultralytics-thop==2.0.14
urllib3==2.5.0
zipp==3.23.0
